.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
}

.form h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.form_input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: 1px solid #666;
  flex: 1;
}

.form_select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form_select select {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.form_btn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(67, 67, 255);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
